<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Details</title>
    <link rel="stylesheet" type="text/css" href="/css/show.css">
</head>
<body>
<div class="task-details-box">
    <h1>Task Details</h1>
    <p><strong>ID:</strong> {{ task.id }}</p>
    <p><strong>Name:</strong> {{ task.taskName }}</p>
    <p><strong>Description:</strong> {{ task.taskDescription }}</p>
    <p><strong>Created At:</strong>{{ task.createdAt }}</p>
    <div class="button-container">
        <a href="/tasks/{{ task.id }}/edit">
            <button>Edit Task</button>
        </a>

        <form action="/tasks/{{ task.id }}/delete" method="post" onsubmit="return confirm('Are you sure you want to delete this task?');">
            <button class="delete-button" type="submit">Delete Task</button>
        </form>

        <a href="/tasks">
            <button>Back to Tasks</button>
        </a>
    </div>
</div>
</body>
</html>
